/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #FAFAFA;
    font-family: Montserrat;
	margin: 0;
	padding: 0;
}

hr {
    border: 1px solid #407BFF;
    width: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.h2 {
    font-size: 16px;
    text-align: center;
    margin-top: 60px;
}

p {
    max-width: 460px;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.screenPC {
    text-align: center;
    margin: auto;
}

.dobrodruzstvi,
.plaz {
    display: table;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
}

.dobrodruzstvi {
    background-color: #407BFF;
    border: #407BFF;
    margin-left: auto;
    margin-bottom: 10px;
}

.plaz {
    background-color: #8B8B8B;
    border: #8B8B8B;
}

.Naplanujeme,
.Zajistime,
.Sezeneme,
.Doporucime,
.Objedname,
.Pronajmeme {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: #407BFF1F 4px 6px 10px;
    margin: 15px 20px;
    align-items: center;
}

.boxtext {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
}

.imgcactus,
.imgmap,
.imgpalm,
.imgplane,
.imgrv,
.imgumbrella {
    margin: 20px;
}

.imgHT {
    max-width: 100%;
    margin: 60px 75px 40px 75px;
    text-align: center;
}

.Sezeneme,
.Pronajmeme {
    margin-bottom: 60px;
}

.popisCK,
.popisD {
    margin-top: 90px;
}

.SluzbyCK,
.SluzbyDelegat {
    text-align: center;
}

/* Screen pro tablet*/


@media screen and (min-width: 640px) {

.imgHT {
    margin-bottom: 30px;
}

.dobrodruzstvi,
.plaz {
    display: inline;
}

.h2 {
    margin-top: 80px;
}

.text,
.boxtext {
    max-width: 550px;
    margin: auto;
    margin-bottom: 40px;
} 

.dobrodruzstvi {
    margin-right: 20px;
}

.boxSluzbyCK,
.boxSluzbyD {
    display: flex;
    flex: 1 1 calc(100% / 3);
    justify-content: space-between;
}

.Naplanujeme,
.Zajistime,
.Sezeneme,
.Doporucime,
.Objedname,
.Pronajmeme {
    display: block;
    text-align: center;
    margin: 0px 10px;
}

.boxtext {
    text-align: center;
    margin: 20px 15px;
}

.imgcactus,
.imgmap,
.imgpalm,
.imgplane,
.imgrv,
.imgumbrella {
    margin: 40px;
    margin-bottom: 0px;
}

.boxSluzbyD {
    margin-bottom: 80px;
}

.Sezeneme,
.Pronajmeme {
    margin-bottom: 0px ;
}


}
	

/* Screen pro PC*/

@media screen and (min-width: 1100px) { 
    
    .Uvod,
	.SluzbyCK,
	.SluzbyDelegat {
        max-width: 1040px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .Uvod,
    .SluzbyCK {
        flex-direction: row-reverse;
    }

    h1,
    h2 {
        text-align: left;
    }

    .screenPC {
        margin-left: 0;
        margin-right: auto;
        width: 490px;
        margin: auto;
        padding: 0;
    }

    .boxSluzby {
        display: flex;
    flex: 1 1 calc(100% / 3);
    justify-content: space-evenly;
    box-sizing: inherit;
        }


    }

    hr {
        margin-left: 0;
    }

    .dobrodruzstvi {
        margin-right: 20px;
    }

    .h2 {
        margin-top: 0;
    }

    .boxSluzbyCK,
    .boxSluzbyD {
        max-width: 550px;
    }

    .popisCK,
    .popisD {
        max-width: 430px;
    }

    .Naplanujeme,
    .Zajistime,
    .Sezeneme,
    .Doporucime,
    .Objedname,
    .Pronajmeme {
        margin-left: 0;
        margin-right: 20px;
    }

    .imgHT {
        width: 490px;
    }

    .SluzbyDelegat {
        margin-bottom: 60px;
    }

 

