/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #FAFAFA;
    font-family: Montserrat;
}

@media screen and (min-width: 500px) {

	/* Img velikosti mobil*/
.imgHT {
	width: 300px;
	height: 291px;
	margin: 60px 75px;
	padding: 0;
}

.imgmap,
.imgplane {
	width: 45px;
	height: 40px;
}

.imgcactus { 
	width: 40px;
	height: 40px;
}

.imgpalm,
.imgumbrella,
.imgrv {
	width: 50px;
	height: 40px;
}

/* úprava textu*/
.text,
.h1,
.h2 {
	text-align: center;
}

.h1 {
	font-size: 28px;
    margin-bottom: 10px;
} 

.h2 {
	font-size: 16px;
    margin-top: 60px;
}

p {
    max-width: 460px;
	max-height: 64px;
    font-size: 16px;
    color: #8B8B8B;
	box-shadow: #407BFF1F 0px 4px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/* marginy a paddingy*/
.boxSluzby {
	margin: 30px 20px 57px 20px;
}

.dobrodruzstvi {
		display: table;
		background-color: #407BFF;
		max-width: 195px;
		max-height: 40px;
		padding: 11px 30px;
		border-radius: 50px;
		color: white;
		text-decoration-line: none;
		text-align: center; 
		margin-left: auto;
		margin-right:auto;
	}

	.plaz {
		display: table;
		background-color: grey;
		padding: 11px 30px;
		border-radius: 20px;
		color: white;
		text-decoration-line: none;
		text-align: center; 
		margin-top: 10px;
		margin-left: auto;
		margin-right:auto;
	  }


}
/* Konec @media screen and (min-width: 500px)*/


@media screen and (min-width: 768px) {
	/* Img velikosti tablet*/

	.boxSluzby {display: flex;}

	.imgmap,
	.imgcactus,
	.imgpalm,
	.imgplane,
	.imgrv,
	.imgumbrella {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.imgHT {
		width: 400px;
		height: 332px;
		margin: 60px 184px;
		padding: 0;
	}
	
	
	
	
	/* úprava textu*/
	.text,
	.h1,
	.h2 {
		text-align: center;
	}


}
/* Konec @media screen and (min-width: 768px)*/




