/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #FAFAFA;
    font-family: Montserrat;
	margin: 0;
	padding: 0;
}

/* úprava textu*/
.text,
.h1,
.h2 {
	text-align: center;
	
}

.h1 {
	font-size: 28px;
    margin-bottom: 10px;
} 

.h2 {
	font-size: 16px;
    padding-top: 60px;
}

p {
    max-width: 460px;
    font-size: 16px;
    color: #8B8B8B;
	box-shadow: #407BFF1F 0px 4px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.boxtext {
	font-size: 13px;
}


@media screen and (min-width: 50px) {

	/* Img velikosti*/
.imgHT {
	width: 300px;
	height: 291px;
	margin: 60px 75px;
	padding: 0;
}

.imgmap,
.imgplane {
	width: 45px;
	height: 40px;
}

.imgcactus { 
	width: 40px;
	height: 40px;
}

.imgpalm,
.imgumbrella,
.imgrv {
	width: 50px;
	height: 40px;
}

hr {
    border: 1px solid #407BFF;
    width: 60px;
    margin-bottom: 30px;
}

/* marginy a paddingy*/
.boxSluzby {
	margin: 30px 20px 57px 20px;
}

.dobrodruzstvi {
	display: table;
	background-color: #407BFF;
	padding: 11px 30px;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	text-align: center; 
	margin: 0 auto;
}

.plaz {
	display: table;
	background-color: grey;
	padding: 11px 30px;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	text-align: center; 
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
}


}
/* Konec @media screen and (min-width: 50px)*/


@media screen and (min-width: 640px) {
	/* Img velikosti tablet*/

	.boxSluzby {display: flex;}

	.imgmap,
	.imgcactus,
	.imgpalm,
	.imgplane,
	.imgrv,
	.imgumbrella {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.imgHT {
		width: 400px;
		height: 332px;
		margin: 60px 184px;
		padding: 0;
	}
	
	
	
	
	/* úprava textu*/
	.text,
	.h1,
	.h2 {
		text-align: center;
	}


}
/* Konec @media screen and (min-width: 640px)*/

@media screen and (min-width: 1100px) { 
    
    .Uvod,
	.SluzbyCK,
	.SluzbyDelegat {
        max-width: 1040px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .Uvod,
    .SluzbyCK {
        flex-direction: row-reverse;
    }

    h1,
    h2,
    hr,
    p,
    .hlavicka {
        text-align: left;
    }

    hr {
        margin-left: 0;
    }

    .dobrodruzstvi {
        margin-right: 20px;
    }

    h2 {
        margin-top: 0;
    }

    .sluzby {
        max-width: 550px;
    }
/* ZKouška funkcí 
    .cestovka,
    .namiste {
        max-width: 430px;
    }

    .box {
        margin-left: 0;
        margin-right: 20px;
    }

    .posledni {
        margin-right: 0;
    }

    .uvodnifoto,
    .hlavicka {
        width: 490px;
    }

    .hlavicka {
        margin-left: 0;
        margin-right: auto;
    }

    .uvodnifoto {
        margin: 60px 0 0 auto;
    }

    .uvodnifoto img {
        max-width: 425px;
        text-align: center;
    }

    .treti {
        margin-bottom: 60px;
    }


*/
}